@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");

body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* section */
section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 90vh;
}

/* show */
/* 주석 처리한 건 글 옆에서 중앙으로 오는 모션(필요시 쓸 것) */
/* .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2.1s;
} */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* 사진 */
.logos {
  display: flex;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

img {
  width: 200px;
  height: 200px;
}
